:root {
    --primary-color: #151A2D;
    --secondary-color: rgb(74, 175, 202);
    --accent-color: #e74c3c;
    --success-color: #27ae60;
    --warning-color: #f39c12;
    --light-color: #ecf0f1;
    --dark-color: #2c3e50;
}

body {
    background: 
        radial-gradient(circle at 20% 80%, rgba(25, 24, 60, 0.2) 0%, transparent 65%),
        radial-gradient(circle at 80% 20%, rgba(70, 29, 60, 0.2) 0%, transparent 65%),
        linear-gradient(135deg, #253a70 0%, #160b25 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    animation: waveMove 8s ease-in-out infinite;
    background-size: 300% 300%, 300% 300%, 100% 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@keyframes waveMove {
    0%, 100% {
        background-position: 
            0% 50%,
            100% 50%,
            0% 0%;
    }
    25% {
        background-position: 
            100% 25%,
            0% 75%,
            0% 0%;
    }
    50% {
        background-position: 
            100% 100%,
            0% 0%,
            0% 0%;
    }
    75% {
        background-position: 
            0% 75%,
            100% 25%,
            0% 0%;
    }
}



.header {
    background: var(--primary-color);
    color: var(--light-color);
    box-shadow: 0 4px 6px var(--light-color);
}

.user-info {
    color: var(--light-color);
}

.page-title {
    color: var(--light-color);
}


.sidebar {
    background: var(--primary-color);
    box-shadow: 0 5px 15px var(--light-color);
}

.sidebar-header .user-avatar{
    background: #226ea1;
}
.sidebar-header .toggler {
    color: var(--primary-color);
    background: #fff;
}
.sidebar-header .toggler:hover{
    background: #2c3e50;
}

.sidebar-nav .nav-link{
    color: var(--light-color);
    
}

.sidebar-nav .nav-link:hover{
    box-shadow: 0 5px 10px var(--light-color);
    background-color: var(--light-color);
}

.sidebar-nav .nav-tooltip{
    color: var(--primary-color);
    background: var(--light-color);
    box-shadow: 0 5px 10px var(--light-color);
}

/* Para tablets y móviles */
@media (max-width: 1024px) {
    .sidebar {
        height: 61px;
        margin: 0px;
        overflow: hidden;
        width: calc(100%);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: height 0.3s ease;
    }

    .sidebar.menu-active {
        height: auto;
        max-height: 80vh;
        overflow-y: auto;
        position: fixed;
    }

    .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 20;
        background: var(--primary-color);
        padding: 8px 10px;
        border-radius: 16px;
    }

    .sidebar-header .user-avatar {
        width: 40px;
        height: 40px;
    }

    .sidebar-header .sidebar-toggler, .sidebar-nav .nav-tooltip {
        display: none;
    }

    .sidebar-header .menu-toggler {
        display: flex;
        height: 30px;
        width: 30px;
    }

    .sidebar-header .menu-toggler span {
        font-size: 1.3rem;
    }

    .sidebar-nav .nav-list {
        padding: 0 10px;
    }

    .sidebar-nav .nav-link {
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
    }

    .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
    }

    .sidebar-nav .secondary-nav {
        position: relative;
        bottom: 0;
        margin: 40px 0 30px;
    }

     /* Contenido principal para móvil */
     .main-content {
        margin-left: 0 !important;
        width: 100% !important;
        padding: 15px;
        margin-top: 56px; /* Solo la altura del sidebar colapsado */
        transition: margin-top 0.3s ease;
        min-height: calc(100vh - 56px);
    }
    
    .sidebar.menu-active ~ .main-content {
        margin-top: 56px; /* Mantener el mismo margin-top */
    }
}
@media (max-width: 768px) {
    .main-content {
        padding: 10px;
        margin-top: 56px; /* Altura fija del sidebar */
    }
    
    .sidebar.menu-active ~ .main-content {
        margin-top: 56px; /* Mantener igual */
    }
    
    
    .user-info {
        margin-top: 10px;
        color: var(--light-color);
    }
}
/*Sidebar */

/*Home*/
      
.recent-activity {
    background: var(--primary-color);
    box-shadow: 0 4px 6px var(--light-color);
}
.activity-title {
    color: var(--light-color);
}
.activity-item {
    border-bottom: 1px solid #eee;
}

.activity-icon {
    background: var(--light-color);
}

.activity-content h5 {
    color: var(--light-color);
}
.activity-content p {
    color: var(--light-color);
}
.activity-time {
    color: var(--light-color);
}

.no-activity p, i{
    color: rgb(163, 163, 163);
}


.stat-card {
    background: var(--primary-color);
    box-shadow: 0 4px 6px var(--light-color);
}

.stat-card.pending {
    border-top: 4px solid var(--warning-color);
    box-shadow: 0 4px 6px var(--warning-color);
}
.stat-card.pending:hover {
    box-shadow: 0 4px 20px var(--warning-color);
}
.stat-card.in-process {
    border-top: 4px solid var(--secondary-color);
    box-shadow: 0 4px 6px var(--secondary-color);
}
.stat-card.in-process:hover {
    box-shadow: 0 4px 20px var(--secondary-color);
}
.stat-card.completed {
    border-top: 4px solid var(--success-color);
    box-shadow: 0 4px 6px var(--success-color);
}
.stat-card.completed:hover {
    box-shadow: 0 4px 20px var(--success-color);
}
.stat-card.denied {
    border-top: 4px solid var(--accent-color);
    box-shadow: 0 4px 6px var(--accent-color);
}
.stat-card.denied:hover {
    box-shadow: 0 4px 20px var(--accent-color);
}
.stat-number {
    color: var(--light-color);
}
.stat-title {
    color: var(--light-color);
}
.pending .stat-icon i{
    color: var(--warning-color);
    text-shadow: 0px 2px 3px var(--warning-color);
}

.in-process .stat-icon i{
    color: var(--secondary-color);
    text-shadow: 0px 2px 3px var(--secondary-color);
}

.completed .stat-icon i{
    color: var(--success-color);
    text-shadow: 0px 2px 3px var(--success-color);
}

.denied .stat-icon i{
    color: var(--accent-color);
    text-shadow: 0px 2px 3px var(--accent-color);

}



/*Home*/

.btn-new{
    box-shadow: 4px 4px 5px #38e081;
}

.btn-new:hover {
    background: #219653;
    transform: translateY(-2px);
}




.user-card {
    background: var(--primary-color);
    box-shadow: 0 4px 6px var(--light-color);
}

.user-card-header {
    border-bottom: 1px solid #eee;
}
.user-id {
    background: var(--secondary-color);
    color: white;
}
.user-name {
    color: var(--light-color);
}

.user-detail-icon {
    color: var(--secondary-color);
}
.user-detail-text {
    color: var(--light-color);
}

.user-list {
    background-color: var(--primary-color);
    border-left: 4px solid #3498db;
    box-shadow: 0px 2px 5px var(--secondary-color);
}
.user-item {
    border-bottom: 1px solid #eee;
    color: var(--light-color);
}

.user-count {
    background-color: #3498db;
    color: white;
}




.config-section {
    background: var(--primary-color);
    box-shadow: 0 5px 5px var(--light-color);
    color: var(--light-color);
}

.password-feedback, .user-feedback {
    display: none;
    margin-top: 10px;
    padding: 10px;
}

.form-control, .form-select {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 2px solid #ddd;
    box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}

.form-control::placeholder{
    color: var(--light-color);
}

.form-control:disabled {
    background-color: var(--primary-color);
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--light-color);
    background-color: var(--primary-color);
    color: var(--light-color);
}

.form-select:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--light-color);
    background-color: var(--primary-color);
    color: var(--light-color);
}

.input-group-text{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.input-group-text:hover{
    color: var(--secondary-color);
}

.form-text{
    color: var(--light-color);
}


.modal-content{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn-close{
    background-color: var(--light-color);
}

.search-section {
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px var(--light-color);
}

.search-title {
    color: var(--light-color);
}

.search-field label {
    color: var(--light-color);
}

.expedientes-container {
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px var(--light-color);
}

.expedientes-header {
    background: var(--primary-color);
    color: var(--light-color);
    border-bottom: 2px solid #dee2e6;
}

.expedientes-table thead {
    background-color: var(--primary-color);
}

.expedientes-table th {
    color: var(--light-color);
}

.expedientes-table tbody tr {
    transition: background-color 0.2s;
    color: var(--light-color);
}

.expedientes-table tbody tr:hover {
    background-color: var(--dark-color);
}

.pagination-container {
    background-color: var(--primary-color);

}

.pagination-btn {
    border: 1px solid #dee2e6;
    background-color: var(--primary-color);
    color: var(--light-color);
    box-shadow: 0 0 3px var(--light-color);
}

.pagination-info {
    color: var(--light-color);
}

.badge-estado {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
}
.badge-pendiente {
    background-color: #fff3cd;
    color: #856404;
    box-shadow: 0 3px 3px #856404;
}
.badge-proceso {
    background-color: #cce5ff;
    color: #004085;
    box-shadow: 0 3px 3px #004085;
}
.badge-completado {
    background-color: #d4edda;
    color: #155724;
    box-shadow: 0 3px 3px #155724;
}
.badge-denegado {
    background-color: #f8d7da;
    color: #721c24;
    box-shadow: 0 3px 3px #721c24;
}

.btn-action{
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    margin-top: 10px;
}
.btn-action::after{
    content: "";
    z-index: -1; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px 0 10px 0;
}

.btn-action::before{
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px 0 10px 0;
    opacity: 0;
}

@keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.btn-action:hover::before{
    opacity: 1;
}

.btn-action:active:after{
    background: transparent;
}

.btn-action:active{
    color: #000;
    font-weight: bold;
}



.icon-notifi-box button{
    color: var(--light-color);
    text-shadow: 3px 3px 3px var(--light-color);
}

.icon-notifi-box button:hover {
    background-color: var(--light-color);
    box-shadow: 3px 3px 3px var(--light-color);
    color: var(--primary-color);
}


.header-notification-items{
    border-bottom: 2px solid var(--light-color);
}

.modal-notification-box{
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px var(--light-color);
    border: 1px solid #ddd;
}


.notifi-box {
    background: var(--primary-color);
}

.notifi-title {
    color: var(--light-color);
}

.notifi-item {
    color: inherit;
    cursor: pointer;
    transition: background-color 0.2s;
}

.notifi-icon {
    background: var(--light-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notifi-item:hover {
    background-color: rgb(196, 194, 194);
}

.notifi-content p {
    color: #dbdbdb;
}

.notifi-time {
    color: #cacaca;
}


/* Flecha decorativa en la parte superior */
.modal-notification-box::before {
    border-bottom: 10px solid var(--primary-color);
}

/* Estilo para cuando no hay notificaciones */
.no-notifications {
    text-align: center;
    padding: 30px 20px;
    color: #dbdbdb;
}

.no-notifications i {
    color: #dbdbdb;
    margin-bottom: 15px;
}


/*RREGISTRAR*/
/* Secciones del formulario */
.form-section {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px var(--light-color);
    border-left: 4px solid var(--secondary-color);
}
.form-section-title {
    color: var(--light-color);
    border-bottom: 1px solid #ddd;
}
.form-label {
    color: var(--light-color);
}
.file-upload {
    border: 2px dashed #ddd;
    
}
.file-name {
    color: var(--light-color);
}
.file-upload p {
    color: var(--light-color);
}
.file-upload:hover {
    border-color: var(--secondary-color);
    background-color: rgb(155, 190, 255);
    box-shadow: 0px 0px 10px var(--light-color);
}

.document-details {
    background-color: var(--primary-color);
    color: var(--light-color);
    box-shadow: 0 0 10px var(--light-color);
}
.detail-row {
    border-bottom: 1px solid var(--light-color);
}
.detail-label {
    font-weight: bold;
    color: var(--light-color);
}
.detail-value {
    color: var(--light-color);
}
.file-preview {
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--light-color);
    color: var(--light-color);
}
.card{
    background-color: var(--primary-color);
    color: var(--light-color);
    box-shadow: 0 0 10px var(--light-color);
    border: 1px solid var(--light-color);
}
.card-header{
    background-color: var(--primary-color);
}
.timeline-step{
    color: var(--light-color);
}
.section-title{
    color: var(--light-color);
}
.info-box{
    background-color: var(--primary-color);
    color: var(--light-color);
}
.info-label, .info-value{
    color: var(--light-color);
}
.response-content{
    background-color: var(--primary-color);
    color: var(--light-color);
}
.text-fecha{
    color: #b2bfcc;
}